* {padding: 0;margin: 0;box-sizing: border-box;
}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}
body{height: 100vh;width: 100vw;}
.page{height: 100vh; display: flex;flex-direction: column;background: url(http://p4.music.126.net/AAMTnbm4h8BXEsy7G4vHBg==/16571839254197802.jpg) no-repeat center rgba(0, 0, 0, 0.5);background-size: cover;z-index: -2;width: 100vw;}
.page::after{content: '';height: 100vh;width: 100vw;position: absolute;background-color: rgba(0, 0, 0, 0.5);}
.disco-contain{position: relative;z-index: 1;}
.disco-contain .needle{width: 23vw;position: absolute;top: 0;
    left: 50%;z-index: 1;}
.gramophone{display: flex;align-items: center;justify-content: center;margin-top: 13vw;}

.gramophone .linght{width: 78vw;position: absolute;}



.gramophone .lin{width: 49vw;position: absolute;border-radius: 50%;animation: cicle 20s infinite linear;}

.gramophone .black{width: 82vw;animation: cicle 20s infinite linear;}



.gramophone .disco{width: 49vw;position: absolute;border-radius: 50%;animation: cicle 20s infinite linear;}

@keyframes cicle{
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}




.icon {width: 1em; height: 1em;vertical-align: -0.15em;fill: currentColor;
    overflow: hidden;}
  .icon{position: absolute;z-index: 2;border: 1px  solid  white;
    border-radius: 50%;fill: white;height: 12vw;width: 12vw;border: 1px solid white;
background-color: rgba(0, 0, 0, 0.1);display: none; }
.icon.active{display: block;}

.song {text-align: center;line-height: 1.5;flex-grow: 1;z-index: 1;}
.song h3{font-size: 5vw;color: white;}
.song p{ font-size: 4vw;color: #AEABAC;line-height: 8vw;}
.song p:active{ color: white;}
.song .lyric{height: 22vw;overflow: hidden;}
.button {display: flex;justify-content: center;align-items: flex-end;z-index: 1;}
.button a{width: 38.5vw;text-decoration: navajowhite;text-align: center;
    border: 1px solid red ;padding: 1vw;color: #D43B32;
    border-radius: 4px;margin: 5vw;}
