*{padding: 0;margin: 0;}
*b{box-sizing: border-box;}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}
ul,ol{list-style: none;}
a{color: inherit;text-decoration: none;}
body{font-size: 12px;line-height: 1.5;}
input{font: inherit;}

/**lauout区域**/
.page{
    display: flex;
    height: calc(100vh - 65px);
}
.page >aside{
    width: 300px;
    border: 1px solid red;
}
.page > main{
    flex-grow: 1;
    border: 1px solid red;
}

header{
    background-color: #d43c33;
    display: flex;
    align-items: center;
}
header > .logo{
    width: 150px ;
    padding: 30px 15px 10px;;

}

 .page > aside{
   display: flex;
   flex-direction: column;  
}
.page > aside > .newSong{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid gray;
}
aside  .newSong.active{
    background-color: #d4d4d4;
}
aside  #contain-songList{
    flex-grow: 1;
}
aside  .songList >li{
    padding: 15px;
}
aside  .songList >li {
    border-bottom: 1px solid #d4d4d4;
    margin-left: 10px ;
    margin-right: 20px;
}
aside  .songList > li.active{
    background-color: #d4d4d4;
}
aside > .submitArea  p{
    border: 1px solid #333333;
    padding: 10px ;
    border: 1px solid inherit;
    padding: 20px 10px ;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}


.page  >main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.page > main > .form{
    border: 1px solid red;
    padding: 60px;
}
.page > main > h2{
    padding-bottom: 100px;
}
.page > main > .form  input[type=text]{
    padding: 4px;
}
.page > main > .form  button{
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
}
.page > main > .form  .row {
    padding-top: 20px;
    display: flex;
    align-items: center;
   
}
.page > main > .form > .row > label{
   width: 5em;
    display: flex;
    justify-content: flex-end;
}
.page > main > .form > button {
    margin-left: 5em;
    border: 1px solid inherit;
    border-radius: 5px;
 }