*{padding: 0;margin: 0;}
*b{box-sizing: border-box;}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}
ul,ol{list-style: none;}
a{color: inherit;text-decoration: none;}
body{font-size: 12px;line-height: 1.5;}


/**lauout区域**/
.page{
    display: flex;
    height: calc(100vh - 65px);
}
.page >aside{
    width: 300px;
    border: 1px solid red;
}
.page > main{
    flex-grow: 1;
    border: 1px solid red;
}

header{
    background-color: #d43c33;
    display: flex;
    align-items: center;
}
header > .logo{
    width: 150px ;
    padding: 30px 15px 10px;;

}

 .page > aside{
   display: flex;
   flex-direction: column;  
}
.page > aside > .newSong{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid gray;
}
aside > .newSong.active{
    background-color: #d4d4d4;
}
aside > .songList{
    flex-grow: 1;
}
aside > .songList >li >div{
    padding: 15px;
}
aside > .songList >li >div{
    border-bottom: 1px solid #d4d4d4;
    margin-left: 10px ;
    margin-right: 20px;
}
aside > .songList > li.active{
    background-color: #d4d4d4;
}
aside > .submitArea  p{
    border: 1px solid #333333;
    padding: 10px ;
    border: 1px solid inherit;
    padding: 20px 10px ;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}
